/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: rgb(243, 255, 253);
  background: #ffffff;
}

header {
  background: rgba(255, 255, 255, 0.954);
  border-style: solid;
  border-width: 1px;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 0;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}

#main-bio {
  width: 100%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 500px;
  height: 350px;
  margin-right: 0px;
}

#main-image {
  width: 600px;
  height: 450px;
  margin-right: 0px;
}

.item{padding-top:1px;}

.jobs .item:hover {
    background: #c91212;
    border-top: 1px solid #c91212;
    padding-top:0;
}
